<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mood analyzer app</title>
    <link rel="stylesheet" href="">  
  </head>
  <body>
    <div class="containter">
      <h1>Mood analyzer</h1>
      <h3>To find out mood from audio, upload 'wav' file</h3>
      <div class="message">
        {{text|safe}}
      </div>
      <form action="{{url_for('success')}}" method="post" enctype="multipart/form-data">
        <input type="file" name="file"> <br>
        <button type="submit" name="button">Submit</button>
      </form>
      {% if btn %}
        {% include btn %}
      {% endif %}   
    </div>
  </body>
</html>